body {
    background-color:azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#343a40
}

.container {
    background-image: url(https://images.unsplash.com/photo-1492269682833-cd80f8a20b08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    background-color:azure;
    border-radius: 5px;
  } 

header {
    min-height: 10vh;
    min-width: 100vw;
    text-align: center;
    font-size: 60px;
    padding:5px;
    color: #343a40;
    font-family: cursive;
}

.formBox {
    margin: 5%;
    font-size: 30px;
} 

.diary{
    margin:5%;
    font-size: 30px;
}

form {
    flex-direction: column;
}

footer{
    justify-content: center;
}

footer>h3 {
    font-size: 25px;
    color: cornsilk;
    justify-content: center;
}