body {
    background-color:azure;
    /* display: flex;
    min-height: 100vh;
    flex-direction: column; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#343a40
}

.container {
    background-image: url(https://images.unsplash.com/photo-1492269682833-cd80f8a20b08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    background-color:azure;
    border-radius: 5px;
  } 

.sub-container1{
    /* flex: 1;  */
    /* display:flex; */
    flex-direction: column;
}

header {
    min-height: 10vh;
    min-width: 100vw;
    text-align: center;
    font-size: 60px;
    padding:5px;
    color: #343a40;
    font-family: cursive;
}

.formBox {
    margin: 2%;
    font-size: 30px;
} 

/* .chart{
    flex:1;
    margin: 5%;
    display:flex
}  */

.sub-container2{
    flex:1;
    display:flex;
    flex-direction: column;
}

.diary{
    margin:5%;
    font-size: 30px;
}

form {
    flex-direction: column;
}

input {
    flex-basis:20%;
    padding: .4em;
  }

input[type="submit"] {
    flex-basis:21%;
    padding: .8em;
    margin: .7em;
    margin-top: 1.5em;
  }
label {
    flex-basis: 51%;
    text-align: left;
  }